.textColor {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.textColor:hover {
    color: yellow
}

.navFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid;
}

.exitAvatarFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navAvatarImg {
    height: auto;
    width: 100%;
}